{%block body%}
<div class="container">
    <h2>Add a Store!</h2>
    <div class="form">
        <form action="/addStore" method="POST">
            <input type="text" name="storename" placeholder="Storename">
            <input type="number" name="numberOfCashiers" placeholder="No. Of Cashiers">
            <input type="time" name="openingHours" placeholder="Opening Hours">
            <input type="time" name="closingHours" placeholder="Closing Hours">
            <input type="number" name="numberOfWorkers" placeholder="No. Of Workers">
            <input type="number" name="numberOfSecurityCameras" placeholder="No. Of Cameras">
            <input type="number" step="0.01" name="latitude" placeholder="latitude">
            <input type="number" step="0.01" name="longtitude" placeholder="longtitude">
            <input type="submit" value="addStore">
        </form>
    </div>
</div>
{%endblock%}