{%extends 'base.html'%}

{%block head%}

{%endblock%}

{%block body%}

<div class="container">
    <h2>Stores</h2>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Storename</th>
              <th scope="col">Opening Hour</th>
              <th scope="col">Closing Hour</th>
              <th scope="col">Number Of Cashiers</th>
            </tr>
          </thead>
          <tbody>
        {% for store in stores %}
            <tr >
                <td>{{ store.storename}}</td>
                <td>{{ store.openingHour}}</td>
                <td>{{ store.closingHour}}</td>
                <td>{{ store.numberOfCashiers}}</td>
                <td><a href="/store/">View More</a></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    
</div>

{%endblock%}